<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>Task Management</title>
</head>
<body>
    <h1>Welcome to Task Management</h1>
    <nav>
        <% if (user) { %> <!-- Check if user is logged in -->
            <a href="/dashboard">Dashboard</a> <!-- Show dashboard link -->
            <form action="/logout" method="POST" style="display:inline;">
                <button type="submit">Logout</button> <!-- Show logout button -->
            </form>
        <% } else { %> <!-- If not logged in -->
            <a href="/register">Register</a> <!-- Show register link -->
            <a href="/login">Login</a> <!-- Show login link -->
        <% } %>
    </nav>

     <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/6733cb1e4304e3196ae135f2/1ich52s4l';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>
